.grid {
   display: grid;

   grid-gap: 2%;
   grid-template-areas:
      "b b b b b b"
      "a c c c d d"
      "a c c c d d"
      "a c c c d d"
      "i i i i i i";
}
.grid:only-child {
   border: 1px solid black;
}
.a {
   grid-area: a;
}
.b {
   grid-area: b;
}
.c {
   grid-area: c;
}
.d {
   grid-area: d;
}
.i {
   grid-area: i;
}
.navContent {
   word-break: break-all;
}
